# Python
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
.venv/
venv/

# Poetry
# On versionne le lock pour garantir un déploiement reproductible
# poetry.lock

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests temporaires
test.py

data/